In [139]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/2023-ml-w7p2/train.csv
/kaggle/input/2023-ml-w7p2/test.csv
/kaggle/input/2023-ml-w7p2/sample_submit.csv

In [140]:
train_data = pd.read_csv('/kaggle/input/2023-ml-w7p2/train.csv')
test_data = pd.read_csv('/kaggle/input/2023-ml-w7p2/test.csv')
submit = pd.read_csv('/kaggle/input/2023-ml-w7p2/sample_submit.csv')

print(train_data.info())
print(test_data.info())
print(submit.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             4788 non-null   int64
 1   Unnamed: 0        4788 non-null   int64
 2   customerID        4788 non-null   object
 3   gender            4788 non-null   object
 4   SeniorCitizen     4788 non-null   int64
 5   Partner           4788 non-null   object
 6   Dependents        4788 non-null   object
 7   tenure            4788 non-null   int64
 8   PhoneService      4788 non-null   object
 9   MultipleLines     4788 non-null   object
 10  InternetService   4788 non-null   object
 11  OnlineSecurity    4788 non-null   object
 12  OnlineBackup      4788 non-null   object
 13  DeviceProtection  4788 non-null   object
 14  TechSupport       4788 non-null   object
 15  StreamingTV       4788 non-null   object
 16  StreamingMovies   4788 non-null   object
 17  Contract          4788 non-null   object
 18  PaperlessBilling  4788 non-null   object
 19  PaymentMethod     4788 non-null   object
 20  MonthlyCharges    4788 non-null   float64
 21  TotalCharges      4788 non-null   object
 22  Churn             4788 non-null   object
dtypes: float64(1), int64(4), object(18)
memory usage: 860.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1198 entries, 0 to 1197
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             1198 non-null   int64
 1   Unnamed: 0        1198 non-null   int64
 2   customerID        1198 non-null   object
 3   gender            1198 non-null   object
 4   SeniorCitizen     1198 non-null   int64
 5   Partner           1198 non-null   object
 6   Dependents        1198 non-null   object
 7   tenure            1198 non-null   int64
 8   PhoneService      1198 non-null   object
 9   MultipleLines     1198 non-null   object
 10  InternetService   1198 non-null   object
 11  OnlineSecurity    1198 non-null   object
 12  OnlineBackup      1198 non-null   object
 13  DeviceProtection  1198 non-null   object
 14  TechSupport       1198 non-null   object
 15  StreamingTV       1198 non-null   object
 16  StreamingMovies   1198 non-null   object
 17  Contract          1198 non-null   object
 18  PaperlessBilling  1198 non-null   object
 19  PaymentMethod     1198 non-null   object
 20  MonthlyCharges    1198 non-null   float64
 21  TotalCharges      1198 non-null   float64
dtypes: float64(2), int64(4), object(16)
memory usage: 206.0+ KB
None
   index  Churn
0      5    NaN
1     10    NaN
2     13    NaN
3     18    NaN
4     20    NaN

In [141]:
test_data = test_data.drop(['index', 'customerID'], axis=1)

x_data = train_data.drop(['index', 'Churn', 'customerID'], axis=1)
y_data = train_data['Churn']

print(x_data.info())
print(test_data.info())

print(x_data['TotalCharges'][280])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        4788 non-null   int64
 1   gender            4788 non-null   object
 2   SeniorCitizen     4788 non-null   int64
 3   Partner           4788 non-null   object
 4   Dependents        4788 non-null   object
 5   tenure            4788 non-null   int64
 6   PhoneService      4788 non-null   object
 7   MultipleLines     4788 non-null   object
 8   InternetService   4788 non-null   object
 9   OnlineSecurity    4788 non-null   object
 10  OnlineBackup      4788 non-null   object
 11  DeviceProtection  4788 non-null   object
 12  TechSupport       4788 non-null   object
 13  StreamingTV       4788 non-null   object
 14  StreamingMovies   4788 non-null   object
 15  Contract          4788 non-null   object
 16  PaperlessBilling  4788 non-null   object
 17  PaymentMethod     4788 non-null   object
 18  MonthlyCharges    4788 non-null   float64
 19  TotalCharges      4788 non-null   object
dtypes: float64(1), int64(3), object(16)
memory usage: 748.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1198 entries, 0 to 1197
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1198 non-null   int64
 1   gender            1198 non-null   object
 2   SeniorCitizen     1198 non-null   int64
 3   Partner           1198 non-null   object
 4   Dependents        1198 non-null   object
 5   tenure            1198 non-null   int64
 6   PhoneService      1198 non-null   object
 7   MultipleLines     1198 non-null   object
 8   InternetService   1198 non-null   object
 9   OnlineSecurity    1198 non-null   object
 10  OnlineBackup      1198 non-null   object
 11  DeviceProtection  1198 non-null   object
 12  TechSupport       1198 non-null   object
 13  StreamingTV       1198 non-null   object
 14  StreamingMovies   1198 non-null   object
 15  Contract          1198 non-null   object
 16  PaperlessBilling  1198 non-null   object
 17  PaymentMethod     1198 non-null   object
 18  MonthlyCharges    1198 non-null   float64
 19  TotalCharges      1198 non-null   float64
dtypes: float64(2), int64(3), object(15)
memory usage: 187.3+ KB
None

In [142]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
col = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges']

for columns in col:
    x_data[columns] = LE.fit_transform(x_data[columns].values)

col = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']
for columns in col:
    test_data[columns] = LE.fit_transform(test_data[columns].values)

y_data = LE.fit_transform(y_data)
print(x_data.info())
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        4788 non-null   int64
 1   gender            4788 non-null   int64
 2   SeniorCitizen     4788 non-null   int64
 3   Partner           4788 non-null   int64
 4   Dependents        4788 non-null   int64
 5   tenure            4788 non-null   int64
 6   PhoneService      4788 non-null   int64
 7   MultipleLines     4788 non-null   int64
 8   InternetService   4788 non-null   int64
 9   OnlineSecurity    4788 non-null   int64
 10  OnlineBackup      4788 non-null   int64
 11  DeviceProtection  4788 non-null   int64
 12  TechSupport       4788 non-null   int64
 13  StreamingTV       4788 non-null   int64
 14  StreamingMovies   4788 non-null   int64
 15  Contract          4788 non-null   int64
 16  PaperlessBilling  4788 non-null   int64
 17  PaymentMethod     4788 non-null   int64
 18  MonthlyCharges    4788 non-null   float64
 19  TotalCharges      4788 non-null   int64
dtypes: float64(1), int64(19)
memory usage: 748.2 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1198 entries, 0 to 1197
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1198 non-null   int64
 1   gender            1198 non-null   int64
 2   SeniorCitizen     1198 non-null   int64
 3   Partner           1198 non-null   int64
 4   Dependents        1198 non-null   int64
 5   tenure            1198 non-null   int64
 6   PhoneService      1198 non-null   int64
 7   MultipleLines     1198 non-null   int64
 8   InternetService   1198 non-null   int64
 9   OnlineSecurity    1198 non-null   int64
 10  OnlineBackup      1198 non-null   int64
 11  DeviceProtection  1198 non-null   int64
 12  TechSupport       1198 non-null   int64
 13  StreamingTV       1198 non-null   int64
 14  StreamingMovies   1198 non-null   int64
 15  Contract          1198 non-null   int64
 16  PaperlessBilling  1198 non-null   int64
 17  PaymentMethod     1198 non-null   int64
 18  MonthlyCharges    1198 non-null   float64
 19  TotalCharges      1198 non-null   float64
dtypes: float64(2), int64(18)
memory usage: 187.3 KB
None

In [143]:
x_data['TotalCharges'] = x_data['TotalCharges'].astype('float64')

print(x_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        4788 non-null   int64
 1   gender            4788 non-null   int64
 2   SeniorCitizen     4788 non-null   int64
 3   Partner           4788 non-null   int64
 4   Dependents        4788 non-null   int64
 5   tenure            4788 non-null   int64
 6   PhoneService      4788 non-null   int64
 7   MultipleLines     4788 non-null   int64
 8   InternetService   4788 non-null   int64
 9   OnlineSecurity    4788 non-null   int64
 10  OnlineBackup      4788 non-null   int64
 11  DeviceProtection  4788 non-null   int64
 12  TechSupport       4788 non-null   int64
 13  StreamingTV       4788 non-null   int64
 14  StreamingMovies   4788 non-null   int64
 15  Contract          4788 non-null   int64
 16  PaperlessBilling  4788 non-null   int64
 17  PaymentMethod     4788 non-null   int64
 18  MonthlyCharges    4788 non-null   float64
 19  TotalCharges      4788 non-null   float64
dtypes: float64(2), int64(18)
memory usage: 748.2 KB
None

In [144]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size = 0.3, random_state = 100, stratify=y_data)

In [145]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression(max_iter=1000)
reg.fit(X_train, y_train)
pred = reg.predict(X_test)

from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test, pred))

0.1941544885177453

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [146]:
reg.fit(x_data, y_data)
model = reg.predict(test_data)
model

submit['Churn'] = model
submit.to_csv('submit.csv', header=True,index=False)